<div class="table-container" [style.height.px]="isDataLoading ? 480 : 'auto'">

  <mat-table [dataSource]="dataSource" matSort #sort="matSort" (matSortChange)="sortData($event)">
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.field">
      <mat-header-cell *matHeaderCellDef>
        <ng-container *ngIf="column.sortable; else nonSortableHeader">
          <div mat-sort-header>{{ column.header }}</div>
        </ng-container>
        <ng-template #nonSortableHeader>
          {{ column.header }}
        </ng-template>
      </mat-header-cell>
      <mat-cell *matCellDef="let child" class="custom-row">
        <ng-container *ngIf="column.field === 'abmelden'; else otherContent">
          <button mat-button (click)="cancelRegistration(child.id)">Kind abmelden</button>
        </ng-container>
        <ng-template #otherContent>
          {{ getCellValue(column, child) }}
        </ng-template>
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="columnFields"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnFields"></mat-row>
  </mat-table>

  <mat-paginator 
    [length]="pageEvent.length" 
    [pageSize]="pageEvent.pageSize" 
    [pageSizeOptions]="pageSizeOptions"
    (page)="changePageSize($event)"
    (pageSizeChange)="changePageSize($event)">
  </mat-paginator>

  <div class="overlay" *ngIf="storeService.isLoading">
    <div class="loading-container">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  </div>
</div>
