<div class="banner-container">
  <div class="menu-container">
    <button mat-button class="anmeldung" [routerLink]="['/dashboard']" routerLinkActive="active">Anmeldung</button>
    <button mat-button [matMenuTriggerFor]="kindergarten" class="kindergarten" [routerLink]="['/about']" routerLinkActive="active">Kindergärten</button>
    <mat-menu #kindergarten="matMenu" class="kindergarten">
      <button mat-menu-item [routerLink]="['/about']">About</button>
    </mat-menu>
  </div>
</div>

<!--<img width="500" src={{imagePath}}><br/>-->