.row{
  margin: 0;
  width: 100%;
  background-color: #f6d7e2;
}

.input-width {
  width: 400pt;
  margin: 10px;
}

.erfassen-btn{
  margin-top: 225px;
  width: 250px;
}

.col-md-3, .col-md-6 {
  margin-top: 80px;
}

.anmelden-text{
  margin-left: 60px;
}