<div class="row">

        <div class="col">
<h1><b>Willkommen zur Kindergarten Anmeldung</b></h1>
<p>
  Herzlich willkommen bei unserer Kindergarten-Anmeldungsanwendung. Unsere Anwendung bietet Ihnen eine einfache und benutzerfreundliche Möglichkeit, Ihr Kind für einen Kindergarten anzumelden.
</p>

<h2><b>Unsere Mission</b></h2>
<p>
  Unser Ziel ist es, eine liebevolle und unterstützende Umgebung für Kinder zu schaffen, in der sie spielen, lernen und wachsen können. Unser engagiertes Team freut sich darauf, Ihr Kind auf seiner Reise zu begleiten.
</p>

<h2><b>Kontaktinformationen</b></h2>
<blockquote>
    <b>E-Mail:</b>
    <br>info@kindergarten-anmeldung.at
</blockquote>
<blockquote><b>Telefon:</b><br>01234 56789</blockquote> 
        </div>

        <div class="col">
            <img width="500" src={{imagePath}}>
            <img width="500" src="https://www.ilmtalmaeuse-hettenshausen.de/images/2021/Feb/15/l_448.eea9a462ce9292de4a42d9141e1125d9.jpg">
        </div>
    </div>
