.row {
    margin-top: 80px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 60px;
}

h1{
    color: rgba(237, 89, 63);
    font-family: Helvetica;
}

h2{
    color: #c7b65d;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

p{
font-family: Helvetica;
text-align: justify;
line-height: 1.8;
}

img{
    border: 15px solid #f6d7e2;
}

blockquote{
    margin-top: 10px;
}