<p>Kinder nach Kindergarten filtern:</p>
<div class="filter-container">
  <mat-form-field class="input-width">
    <mat-label>Bitte auswählen</mat-label>
    <mat-select class="select-button" [(ngModel)]="selectedKindergartenId" (ngModelChange)="applyFilter()">
      <mat-option *ngFor="let kindergarden of storeService.kindergarden" [value]="kindergarden.id" class="filter-width">
        {{kindergarden.name}}, {{kindergarden.address}}
        <mat-divider></mat-divider>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="button-container" *ngIf="selectedKindergartenId !== null">
    <button mat-raised-button class="button-width" (click)="deleteFilter()">
      Filter zurücksetzen
    </button>
  </div>
</div>