.input-width {
    min-width: 400px;
    margin-right: 10px;
}

.filter-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .button-container {
    min-height: 55px;
    margin-left: 20px; 
    margin-top: 20px;
    margin-bottom: 20px;
  }
  