.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.286);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loading-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .center {
    text-align: center;
  }
  